.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  .pagination-button {
    background-color: #808080;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #696969;
    }
  }

  .pagination-button--active {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: default;
  }
}
